.idea
scenarios/common_data/base_layers/
scenarios/common_data/networks/
scenarios/common_data/facilities/
logs/
temp_networkx_shp_files/
debug/
Maps/
Reports/
*.db
*.gdb
Maps_Time_Commodity/
scenarios/common_data/test_data/
scenarios/common_data/scratch/